/*hide cnblogs*/
#top_nav, #home, #page_end_html {
    display: none;
}

/*global tag*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    margin: 0;
}

a {
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}

pre {
    box-sizing: border-box;
}


/*theme element*/
@media (min-width: 768px) {
    .blog-theme {
        max-width: 117rem;
        min-width: 77rem;
        padding: 8rem 1rem 1rem 1rem;
    }

    .posts {
        min-width: 70rem;
        max-width: 77rem;
    }

    .posts article {
        padding: 8rem 0;
    }
}

@media (max-width: 768px) {
    .blog-theme {
        max-width: 77rem;
        padding: 2rem;
    }


    .posts article {
        padding: 3rem 0;
    }
}

.blog-theme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 8rem 1rem 1rem 1rem;
    min-height: 100vh;
    background-color: #fff;
}


/*header*/
.site-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-family: "Open Sans", arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.site-branding .site-title {
    margin: 0;
    font-size: 1.4rem;
}

.site-branding .site-title a {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    background-color: #f03838;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    transition: padding 0.3s ease-out;
}

.site-branding .site-title a:hover {
    padding: 0 1.5rem;
}

.site-branding .site-description {
    color: #9e9e9e;
    font-size: 1.3rem;
    margin: 1rem 0 0;
}

/*navigation*/
.site-navigation {
    display: flex;
    align-items: center;
}

.site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
}

.site-navigation ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

.site-navigation ul li a {
    display: block;
    color: #f03838;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 1rem;
    opacity: .5;
    transition: opacity .3s ease-out;
}

.blog-theme .site-navigation ul:hover li a {
    opacity: 1
}

.blog-theme .site-navigation ul li a:hover {
    color: #f03838;
}

/*posts*/
.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts article, article {
    position: relative;
    font-size: 1.6rem;
    width: 100%;
    color: #424242;
}

article:not(:first-child):before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
}

article .article-title {
    position: relative;
    line-height: 1.3;
    padding: 0 2rem;
    text-align: center;
}

article .article-title a {
    color: #212121;
    font-size: 2.4rem;
}

article .article-title a span {
    padding-bottom: 3px;
    transition: 0.15s;
}

article .article-title a:hover span {
    box-shadow: inset 0 -2px 0 rgb(240 56 56 / 40%);
}

article .article-top-meta {
    margin: 1rem 0;
    text-align: center;
}

article .article-top-meta a {
    font-size: 1.3rem;
    color: #9e9e9e;
}

article .article-top-meta a:hover {
    color: #f03838;
}

article .article-top-meta a time {
    font-style: italic;
}

/*markdown*/
article p, article h1, article h2, article h3, article h4, article h5, article h6 {
    margin: 0;
}

article p, article .entry {
    margin: 2rem 0;
    line-height: 1.8;
}

article blockquote {
    margin: 2rem 0;
    padding-left: 15px;
    line-height: 2rem;
    border: 0;
    border-left: 4px solid #f03838;
}

article blockquote p {
    margin: 0;
}

/*footer*/

.article-footer .article-meta {
    display: flex;
}

.article-footer .article-meta .post-categories, .article-footer .article-meta .post-tags {
    display: flex;
    align-items: center;
}

.article-footer .article-meta a {
    font-size: 1.3rem;
    color: #9e9e9e;
}

.article-footer .article-meta svg {
    color: #9e9e9e;
    fill: currentColor;
    height: 1.5rem;
    width: 1.5rem;
}

.article-footer .post-tags a:before {
    content: "#";
}

.article-footer .post-tags a:not(:last-of-type):after {
    content: ",";
    padding-right: 5px;
}

.article-footer .post-categories a:not(:last-of-type):after {
    content: ",";
    padding-right: 5px;
}

.article-footer .article-meta span:not(:first-of-type) {
    margin-left: 5px;
}