/*hide cnblogs*/
#top_nav, #home, #page_end_html {
    display: none;
}

/*global tag*/
html {
    font-size: 10px;
}

body {
    background-color: #f7f7f7;
    margin: 0;
}

a {
    text-decoration: none;
}

/*theme element*/
@media (min-width: 768px) {
    .blog-theme {
        max-width: 77rem;
        padding: 8rem 20rem 1rem 20rem;
        min-height: 100vh;
        background-color: #fff;
        margin: 0 auto;
    }
}

@media (max-width: 768px){
    .blog-theme {
        max-width: 77rem;
        padding: 2rem;
        min-height: 100vh;
        background-color: #fff;
        margin: 0 auto;
    }
}

/*header*/
.site-branding {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Open Sans", arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.site-branding .site-title {
    margin: 0;
    font-size: 1.4rem;
}

.site-branding .site-title a {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    background-color: #f03838;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    transition: padding 0.3s ease-out;
}

.site-branding .site-title a:hover {
    padding: 0 1.5rem;
}

.site-branding .site-description {
    color: #9e9e9e;
    font-size: 1.3rem;
    margin: 1rem 0 0;
}

/*navigation*/
.site-navigation {
    text-align: center;
    display: block;
}

.site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
}

.site-navigation ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

.site-navigation ul li a {
    display: block;
    color: #f03838;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 1rem;
    opacity: .5;
    transition: opacity .3s ease-out;
}

.blog-theme .site-navigation ul:hover li a {
    opacity: 1
}

.blog-theme .site-navigation ul li a:hover {
    color: #f03838;
}

/*article {*/
/*    padding: 8rem 0;*/
/*}*/

/*.blog-theme .site-title {*/
/*    margin: 0;*/
/*    padding: 80px 10px 10px;*/
/*}*/

/*.blog-theme .site-branding {*/
/*    text-align: center;*/
/*    margin-bottom: 2rem;*/
/*    font-family: Menlo, Consolas, Monaco, Courier, Droid Sans Mono, monospace;*/
/*    letter-spacing: .1em;*/
/*}*/

/*.blog-theme .site-branding .site-title {*/
/*    margin: 0;*/
/*    font-size: 1.4rem;*/
/*}*/

/*.blog-theme .site-branding .site-title a {*/
/*    display: inline-block;*/
/*    color: #fff;*/
/*    font-weight: bolder;*/
/*    background-color: #999;*/
/*    line-height: 3rem;*/
/*    height: 3rem;*/
/*    padding: 0 1rem;*/
/*}*/

/*.blog-theme .site-navigation {*/
/*    text-align: center;*/
/*}*/

/*.blog-theme .site-navigation ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    font-size: 1.6em;*/
/*}*/

/*.blog-theme .site-navigation ul li {*/
/*    display: inline-block;*/
/*    margin: 0 .5rem;*/
/*}*/

/*.blog-theme .site-navigation ul li a {*/
/*    display: block;*/
/*    color: #0074d9;*/
/*    font-size: 1.6rem;*/
/*    line-height: 2rem;*/
/*    padding: 0 1rem;*/
/*}*/

/*.blog-theme .site-navigation ul:hover li a {*/
/*    opacity: 1*/
/*}*/

/*.blog-theme .site-navigation ul li a:hover {*/
/*    color: #004d90;*/
/*}*/

/*.blog-theme .site-navigation ul li a {*/
/*    opacity: .5;*/
/*    transition: opacity .3s ease-out;*/
/*}*/

/*article .article-title {*/
/*    position: relative;*/
/*    color: #212121;*/
/*    line-height: 1.3;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*    padding: 0 2rem;*/
/*    font-size: 2.4rem;*/
/*    font-weight: 600;*/
/*}*/

/*article .article-title a {*/
/*    display: block;*/
/*    color: #212121;*/
/*}*/

/*article .article-top-meta {*/
/*    position: relative;*/
/*    color: #9e9e9e;*/
/*    font-size: 1.3rem;*/
/*    text-align: center;*/
/*    margin: 1rem 0;*/
/*}*/

/*article .article-top-meta a {*/
/*    color: #9e9e9e;*/
/*}*/

/*article blockquote {*/
/*    padding-left: 15px;*/
/*    line-height: 2rem;*/
/*    border: 0;*/
/*    border-left: 4px solid #0074d9;*/
/*    margin: 0;*/
/*}*/

/*article .article-footer .article-meta a {*/
/*    font-size: 1.3rem;*/
/*    color: #9e9e9e;*/
/*}*/

/*article .article-footer .post-tags a:before {*/
/*    content: "#";*/
/*}*/

/*article .article-footer .post-categories a:before {*/
/*    content: ">";*/
/*}*/

/*article .article-footer .post-tags a:not(:last-of-type):after {*/
/*    content: ",";*/
/*    padding-right: 5px;*/
/*}*/

/*article .article-footer .post-categories a:not(:last-of-type):after {*/
/*    content: ",";*/
/*    padding-right: 5px;*/
/*}*/

/*article .article-footer .article-meta span:not(:first-of-type) {*/
/*    margin-left: 5px;*/
/*}*/

/*article {*/
/*    margin: 2rem 0;*/
/*    line-height: 1.8;*/
/*    position: relative;*/
/*}*/

/*article:not(:first-child):before {*/
/*    content: '';*/
/*    width: 150px;*/
/*    height: 1px;*/
/*    background-color: #e0e0e0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 50%;*/
/*    margin-left: -75px;*/
/*}*/

/*article .article-content {*/
/*    margin: 4rem 0;*/
/*    color: #424242;*/
/*}*/


